header{
  display: flex;
  justify-content: space-between;
  width: var(--width-container);
  height: var(--height-header);
  margin: 0 auto;
  padding-top: 50px;
}

header div {
  display: flex;
  align-items: center;
  gap:20px;
}

header h1{
  font-weight: 300;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
}