:root{
  --bg-color:#2F3038;
  --bg-form:#202027;
  --bg-input:#2F3038;
  --bg-footer:#202027;
  --accent-color:#BC3A80;
  --bg-btn:#1867A7;
  --font-color: white;
  --width-container: 80%;
  --height-header: 150px;
}